.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .signinWrapper {
    width: 612px;
    .title {
      margin-bottom: 48px;
      span {
        font-family: GmarketSansLight;
        font-weight: 400;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: -0.004em;
        color: #202020;
      }
      .bold {
        font-family: GmarketSansMedium;
      }
    }
    .singinBox {
      .inputBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64px;
        border-bottom: 2px solid #e6e6e6;
        & + .inputBox {
          margin-top: 12px;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          font-family: GmarketSansLight;
          font-size: 32px;
          line-height: 48px;
          color: #202020;
          &::placeholder {
            opacity: 0.2;
          }
        }
      }
      .inputBox.on {
        border-bottom: 2px solid #00ffb2;
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 64px 0 24px;
        height: 64px;
        background: #cccccc;
        border-radius: 8px;
        span {
          cursor: pointer;
          font-family: GmarketSansLight;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .button.on {
        background: #1a1a1a;
        opacity: 1;
      }
      .lost {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
        text-decoration: underline;
      }
      .signupButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        background: #00ffb2;
        border-radius: 8px;
        span {
          cursor: pointer;
          font-family: GmarketSansLight;
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 212px;
  section {
    margin: 212px 0 0;
    width: 612px;
    display: flex;
    flex-direction: column;
    .bar {
      position: relative;
      margin-bottom: 32px;
    }
    .progress {
      position: absolute;
      left: 0;
      top: 0;
      width: 72px;
      height: 4px;
      background: #202020;
      opacity: 0.2;
      z-index: 1;
    }
    .step {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 4px;
      background: #00ffb2;
      opacity: 1;
      z-index: 2;
    }
    .step.two {
      width: 48px;
    }
    .step.three {
      width: 72px;
    }
    .title {
      margin-bottom: 96px;
      span {
        font-family: GmarketSansLight;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.004em;
        color: #202020;
      }
      .bold {
        font-family: GmarketSansMedium;
      }
    }
    .signupWrapper {
      .allAgree {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1.5px solid #e6e6e6;
        img {
          margin-right: 8px;
        }
      }
      .termsBox {
        margin-bottom: 40px;
        .terms {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          img {
            margin-right: 8px;
          }
        }
        .termsDesc {
          padding: 16px 20px;
          height: 144px;
          overflow: auto;
          background: rgba(230, 230, 230, 0.3);
          border: 1.5px solid #e6e6e6;
          border-radius: 8px;
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        height: 64px;
        background: #cccccc;
        border-radius: 8px;
        cursor: pointer;
      }
      .button.on {
        background: #1a1a1a;
        opacity: 1;
      }
    }
  }

  .interest {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    .box {
      display: flex;
      .card {
        padding: 12px 24px;
        border: 2px solid #e6e6e6;
        border-radius: 8px;
        & + .card {
          margin-left: 16px;
        }
      }
      & + .box {
        margin-top: 24px;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 96px;
      width: 612px;
      height: 64px;
      background: #cccccc;
      border-radius: 8px;
      cursor: pointer;
    }
    .button.on {
      background: #1a1a1a;
      opacity: 1;
    }
  }
}
